<!DOCTYPE html>
<html lang="ja">
<head>
  <title>UNBOX</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/2b2186e12e.js" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous"></script>

</head>
<body>
  <%= erb :navi %>
  
  <!-- 受信ページへのリンクボタン -->
<div class="heightspace"></div>

<!--<h1 style="text-align: center">クリスマスツリーの下にプレゼントが届いているかも？見に行ってみよう！</h1>-->
<p id="nav-mypage">
  <a href="#tabpage1" class="btnlinestretches3"><span>プロフィール</span></a>
  <a href="#tabpage2" class="btnlinestretches3"><span>受け取ったプレゼントボックス</span></a>
  <a href="#tabpage3" class="btnlinestretches3"><span>送ったプレゼント</span></a>
</p>

<div id="tabbody">
   <div id="tabpage1">
    ユーザー名：<%= @user.name %><br>
    メールアドレス：<%= @user.mail %><br>
    <% if @days_left == 0 %>
    <div class="tab1-o" style="text-align: center">
        <h1>𓂃꙳⋆ MERRY XMAS 🦌 ꙳⋆𓂃</h1><br>
      <h2>プレゼントが届いているかも？</h2>
      </div>
    <% else %>
      <div class="tab1-x" style="text-align: center">
        <h1>クリスマスまで残り<%= @days_left %>日</h1><br>
        <img src="/tonakai_kazaritsuke.png" width="300px" alt="">
      </div>
      
    <% end %>
   </div>
   
   <div id="tabpage2">
     <div class="heightspace"></div>
     <!--受け取った内容-->
     <% @presentstome.each do |present| %>
      <div class="box_all">
        <div class="content_all">
          <span class="emoji">💝</span>
          <p><%= present.content %></p> 
        </div>
      </div>
      <% end %>
     
   </div>
   
   <div id="tabpage3">
     <div class="heightspace"></div>
     <% @presentsforu.each do |present| %>
      <div class="box_all">
        <div class="content_all">
          <span class="emoji">🎅</span>
          <p><%= present.content %></p> 
        </div>
      </div>
      <% end %>
   </div>
</div>





<div class="toxmastree">
  <a href="/christmastree" class="btn_13">XmasTree</a>
</div>


<script type="text/javascript">
  //対象要素を得る
  var tabs = document.getElementById('nav-mypage').children;
  var pages = document.getElementById('tabbody').children;
  
  //タブの切り替え処理
  function changeTab() {
    //href属性値から対象のid名を抜き出す
    var targetid = this.href.substring(this.href.indexOf('#')+1,this.href.length);
    console.log(1)
    
    //指定のタブページだけを表示する
    for(var i = 0; i < pages.length; i++) {
      console.log(pages[i])
      console.log(targetid)
      if( pages[i].id != targetid ) {
         pages[i].style.display = "none";
      }else {
         pages[i].style.display = "block";
      }
   }
   
    
    //クリックされたタブを前面に表示する
    for(var i = 0; i < tabs.length; i++){
      tabs[i].style.zIndex = "0";
      tabs[i].style.backgroundColor = "#33743b";
      tabs[i].style.color = "#fff";
    }
    this.style.zIndex = "10";
    this.style.backgroundColor = "#e0c284";
    this.style.color = "#000";
    
    //ページ偏移しないようにfalseを返す
    return false;
  }
  
  //すべてのタブに対して、クリック時にchangeTab関数が実行されるように指定する
  for(var i = 0; i<tabs.length; i++){
    tabs[i].onclick = changeTab;
  }
  
  
  //最初は先頭タブを選択しておく
  tabs[0].onclick();
</script>

</body>
</html>